.banknote {
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: center center;
  width: var(--w);
  height: var(--h);
  pointer-events: none;
}

.banknote__face {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  backface-visibility: visible;
}

.banknote__face_front {
  width: var(--w);
  height: var(--h);
  transform: translateZ(calc(var(--d) / 2)) rotateY(180deg);
  box-shadow: 0 6px 14px rgba(2, 6, 23, 0.35);
}

.banknote__face_back {
  width: var(--w);
  height: var(--h);
  transform: rotateY(180deg) translateZ(calc(var(--d) / 2)) scale(-1);
  box-shadow: 0 6px 12px rgba(2, 6, 23, 0.4);
}

.banknote__face_right {
  width: var(--d);
  height: var(--h);
  left: calc(50% - var(--d) / 2);
  transform: rotateY(90deg) translateZ(calc(var(--w) / 2));
  box-shadow: 0 6px 12px rgba(2, 6, 23, 0.4);
}

.banknote__face_left {
  width: var(--d);
  height: var(--h);
  left: calc(50% - var(--d) / 2);
  transform: rotateY(270deg) translateZ(calc(var(--w) / 2));
  box-shadow: 0 6px 12px rgba(2, 6, 23, 0.4);
}

.banknote__face_top {
  width: var(--w);
  height: var(--d);
  top: calc(50% - var(--d) / 2);
  transform: rotateX(90deg) translateZ(calc(var(--h) / 2));
  box-shadow: 0 6px 12px rgba(2, 6, 23, 0.4);
}

.banknote__face_bottom {
  width: var(--w);
  height: var(--d);
  top: calc(50% - var(--d) / 2);
  transform: rotateX(-90deg) translateZ(calc(var(--h) / 2));
  box-shadow: 0 6px 12px rgba(2, 6, 23, 0.4);
}
